<style>
div.board-grid {
	background-color: #DDD;
	display:grid;
	grid-gap: 0.1rem;
	border: 1px solid black;
	grid-template-columns: repeat(4, 1fr);
}

.number-button {
	background-color: #1291ed;
	font-family: Courier;
	font-size: 4rem;
	text-align: center;
	display: inline-block;
	border: 3px solid black;
	width: 100%;
	font-width: bold;
	margin-right: 0.2rem;
	cursor: pointer;
}
.header-button {
	font-size: 4rem;
	display: inline-block;
	cursor: pointer;
	margin-right: 0.2rem;
}

.board-header {
	color: white;
	font-size: 3rem;
	margin-bottom: 0.5rem;
/*	overflow: hidden;*/
}
.normal-mode {
	color: #1291ed;
}
.normal-text
 {
 	color: white;
 }
.maybe-mode {
	color: orange;
}
</style>

<template id='board-template'>
<div v-if="size*1<4||size*1>9" class="normal-text">
	Valid game ranges are 4-9.
</div>
<div v-else>

<div class="board-header">
	<div style="float: right">
		<div class="dropdown">
			<button class="btn btn-primary-outline dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white; font-size: 2rem;">⋮</button>
			<ul class="dropdown-menu dropdown-menu-end" style="font-size: 3rem; ">
				<li><router-link class="dropdown-item" type="button" to="/">Home</router-link></li>
				<li><button class="dropdown-item" type="button" @click.prevent="toggle_timer_visibility">Toggle timer</button></li>
				<li><button class="dropdown-item" type="button" @click.prevent="clear_grid">Clear grid</button></li>
				<li><router-link class="dropdown-item" type="button" :to="'/new/'+size+'?difficulty='+difficulty">New game</router-link></li>
			</ul>
		</div>
	</div>
	<span v-if="maybe_mode">
		<span class="maybe-mode">⬤</span>
		'Maybe' mode
	</span>
	<span v-else>
		<span class="normal-mode">⬤</span>
		Normal mode
	</span>
</div>

<div class="board-grid" :style="'grid-template-columns: repeat('+size+', 1fr);'">
	<cell v-for="cell in cells" :key="'cell_'+cell.num" :cell='cell' :maybe_mode='maybe_mode' @selected="select_cell(cell.num)"></cell>
</div>

<div style="text-align: center; margin-top: 1rem; margin-left: 5%; margin-right: 5%;">
	<div :class="'board-grid '+(maybe_mode?'maybe-mode':'normal-text')">
		<div v-if="size*1>=1" class="number-button" @touchstart.prevent="set_value(1,$event)" @click.prevent="set_value(1,$event)">1</div>
		<div v-else class="number-button">&nbsp;</div>
		<div v-if="size*1>=2" class="number-button" @touchstart.prevent="set_value(2,$event)" @click.prevent="set_value(2,$event)">2</div>
		<div v-else class="number-button">&nbsp;</div>
		<div v-if="size*1>=3" class="number-button" @touchstart.prevent="set_value(3,$event)" @click.prevent="set_value(3,$event)">3</div>
		<div v-else class="number-button">&nbsp;</div>
		<div class="number-button" @click.prevent="toggle_maybe_mode">✎</div>

		<div v-if="size*1>=4" class="number-button" @touchstart.prevent="set_value(4,$event)" @click.prevent="set_value(4,$event)">4</div>
		<div v-else class="number-button">&nbsp;</div>
		<div v-if="size*1>=5" class="number-button" @touchstart.prevent="set_value(5,$event)" @click.prevent="set_value(5,$event)">5</div>
		<div v-else class="number-button">&nbsp;</div>
		<div v-if="size*1>=6" class="number-button" @touchstart.prevent="set_value(6,$event)" @click.prevent="set_value(6,$event)">6</div>
		<div v-else class="number-button">&nbsp;</div>
		<div class="number-button normal-text" @click.prevent="set_value(0,$event)">🗑</div>

		<div v-if="size*1>=7" class="number-button" @touchstart.prevent="set_value(7,$event)" @click.prevent="set_value(7,$event)">7</div>
		<div v-else class="number-button">&nbsp;</div>
		<div v-if="size*1>=8" class="number-button" @touchstart.prevent="set_value(8,$event)" @click.prevent="set_value(8,$event)">8</div>
		<div v-else class="number-button">&nbsp;</div>
		<div v-if="size*1>=9" class="number-button" @touchstart.prevent="set_value(9,$event)" @click.prevent="set_value(9,$event)">9</div>
		<div v-else class="number-button">&nbsp;</div>
		<div v-if="undo.length>0" class="number-button normal-text" @click.prevent="undo_one()">⎌</div>
		<div v-else class="number-button">&nbsp;</div>
	</div>

	<div v-if="settings.timer_is_visible" class="normal-text" style="font-size: 5rem;">
		{{two_digit(timer/60)}}:{{two_digit(timer%60)}}
	</div>
</div>

</div>
</template>


<script>
'use strict';

Vue.component ( 'board' , {
	props : [ 'size' ] ,
	data : function () { return {
		cells: [],
		difficulty: 1,
		maybe_mode: false,
		selected_cell: -1,
		undo: [],
		timer: 0, // Seconds played with visible page
		settings: {timer_is_visible: false},
		interval: '',
	} } ,
    created : function () {
    	if (this.size*1<4||this.size*1>9) return;
    	document.addEventListener('keydown', this.on_key);
    	if ( !this.load_board_from_local_storage() ) {
	    	this.cells = sudokuGenerator.generateCells(this.size*1,this.difficulty);
	    	this.save_board_to_local_storage();
	    }
    	this.interval = setInterval(this.increase_timer,1000); // Call every second
    },
	beforeDestroy() {
		document.removeEventListener('keydown', this.on_key);
	},
    updated : function () {} ,
    mounted : function () {
    	let fontsize = 130+(9-this.size*1)*30;
    	if ($('body').width()>=1281) {
    		fontsize = 80+(9-this.size*1)*30;
    	}
    	$('div.maybe-grid').css({'font-size':fontsize+'%'})
    } ,
    methods : {
    	load_board_from_local_storage: function() {
    		let key = "board_"+this.size;
    		let ls = localStorage.getItem(key);
    		if (ls===null) return false;
    		let j = JSON.parse(ls);
    		if (j===null) return false;
    		for(let prop of ['cells','settings','timer','maybe_mode','selected_cell','difficulty']) Vue.set(this,prop,j[prop]);
    		return true;
    	},
    	save_board_to_local_storage: function() {
    		let j = {};
    		for(let prop of ['cells','settings','timer','maybe_mode','selected_cell','difficulty']) j[prop] = this[prop];
    		j = JSON.stringify(j);
    		let key = "board_"+this.size;
    		localStorage.setItem(key,j);
    	},
    	two_digit: function(num) {
    		num = Math.floor(num);
    		if (num<10) return '0'+num;
    		return ''+num;
    	},
    	increase_timer: function() {
    		if (document.visibilityState === 'visible') this.timer += 1;
    	},
    	select_cell: function(num) {
    		if ( this.selected_cell>-1 ) this.cells[this.selected_cell].selected = false;
    		if (num!=-1) this.cells[num].selected = true;
    		this.selected_cell = num;
    		this.remember_state();
    	},
    	toggle_timer_visibility: function() {
    		this.settings.timer_is_visible = !this.settings.timer_is_visible;
    		this.remember_state();
    	},
    	toggle_maybe_mode: function() {
    		this.maybe_mode = !this.maybe_mode;
    		this.remember_state();
    	},
    	clear_grid: function() {
    		for (let cell of this.cells) {
    			cell.value = 0;
    			cell.possible = sudokuGenerator.get_possible_empty();
    			cell.selected = false;
    		}
    		this.selected_cell = -1;
    		this.maybe_mode = false;
    		this.remember_state();
    	},
    	undo_add: function() {
    		let j = JSON.stringify(this.cells);
    		this.undo.push(j);
    	},
    	undo_one: function() {
    		if (this.undo.length==0) return; // No undo information
    		let j = this.undo.pop();
    		this.cells = JSON.parse(j);
    	},
    	set_value: function(value) {
    		if ( this.selected_cell<0 ) return; // No cell selected
    		if ( value==0 ) {
	    		this.undo_add();
    			this.cells[this.selected_cell].value = 0;
    			this.cells[this.selected_cell].possible = sudokuGenerator.get_possible_empty();
    		} else if ( this.maybe_mode ) {
	    		this.undo_add();
    			this.cells[this.selected_cell].value = 0; // Needs to not have a value
    			let current = this.cells[this.selected_cell].possible[value];
    			Vue.set(this.cells[this.selected_cell].possible, value, !current);
    		} else if (this.selected_cell>-1 && this.cells[this.selected_cell].value!=value) {
	    		this.undo_add();
    			let row = this.cells[this.selected_cell].row;
    			let col = this.cells[this.selected_cell].col;
    			this.cells[this.selected_cell].value = value;
    			this.remove_possibilities(row,col,value);
    		} else {
    			return; // No action performed
    		}
    		this.check_complete();
    		this.remember_state();
    	},
    	check_complete: function() {
    		for (let cell of this.cells) {
    			if ( cell.value==0 || cell.value!=cell.solution ) return;
    		}
    		clearInterval(this.interval);
    		let min = Math.floor(this.timer/60);
    		let sec = this.timer%60;
    		let unnecessary = this.undo.length-this.cells.length; // All actions minus required ones
    		alert("Solved in "+this.two_digit(min)+":"+this.two_digit(sec)+", with "+unnecessary+" unnecessary steps.");
    	},
    	remember_state: function() {
    		this.save_board_to_local_storage();
    	},
    	remove_possibilities: function(row,col,value) {
    		if ( value<1 ) return;
    		let size = this.size*1;
    		for(let c=0;c<size;c++) {
    			let cell_num = row*size+c;
    			Vue.set(this.cells[cell_num].possible,value,false);
    		}
    		for(let r=0;r<size;r++) {
    			let cell_num = r*size+col;
    			Vue.set(this.cells[cell_num].possible,value,false);
    		}
    	},
    	move_cursor: function(delta_row,delta_col) {
    		if ( this.selected_cell<0 ) return;
    		let size = this.size*1;
    		let row = this.cells[this.selected_cell].row+delta_row;
    		let col = this.cells[this.selected_cell].col+delta_col;
    		if (col<0||row<0||row>=size||col>=size) return;
    		let cell_num = row*size+col;
    		this.select_cell(cell_num);
    	},
    	on_key: function(ev) {
    		ev.preventDefault();
    		ev.stopPropagation();
    		ev.stopImmediatePropagation();
    		if (ev.altKey||ev.ctrlKey||ev.metaKey||ev.shiftKey) return; // No meta keys
    		let value = ev.key*1;
    		if (value>0) {
    			if (value<=this.size*1) this.set_value(value);
    		} else if (ev.key=="Backspace") {
    			this.set_value(0);
    		} else if (ev.key=="ArrowLeft") {
    			this.move_cursor(0,-1);
    		} else if (ev.key=="ArrowRight") {
    			this.move_cursor(0,1);
    		} else if (ev.key=="ArrowUp") {
    			this.move_cursor(-1,0);
    		} else if (ev.key=="ArrowDown") {
    			this.move_cursor(1,0);
    		} else if (ev.key=="Enter") {
    			this.toggle_maybe_mode();
    		} else {
    			// console.log(ev)
    		}
    		return true;
    	}
    } ,
	template : '#board-template'
} ) ;

</script>

